.WeatherForecast {
  
  
    
   
}
.Forecast1 {
    display: inline-block;
    
    padding-left:5px;
    padding-right:5px;
    vertical-align:middle;
    font-size:16px;
    
    

    
    
   
}
 .ForecastIcon canvas{
     all:none;
    color:gray;
    size:30;

 }

.Forecast1 canvas{
    color:gray;
}
   

    
.HourlyForecast{
    display: inline-block;
    
 

}
h4{
    margin:0 auto;
}
.time{
  
    
}
.ForecastBox {
    background:rgba(255,255,255,0.3);
    padding:20px 10px 10px 10px;
    border-radius:25px;
    text-align:center;
    max-width: 500px;
    display:block;
    margin:0 auto;
    font-size:18px;
}